---
import { inject } from '@vercel/analytics'

import Footer from './Footer.tsx'
import Header from './Header.tsx'
import Head from './Head.tsx'
import '../styles/global.css'
import SideBar from './SideBar.astro'

inject()

type Props = {
  pageTitle?: string
  pageDescription?: string
  pageUrl: string
  pageType?: string
}
const { pageTitle, pageDescription, pageUrl, pageType } = Astro.props
---

<!-- TODO: pageUrl設定 -->
<Head
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  pageUrl="/"
  pageType={pageType}
/>
<body>
  <div class="baseLayout">
    <Header />
    <div class="baseLayout__inner">
      <main class="baseLayout__main">
        <slot />
      </main>
      <SideBar />
    </div>
    <Footer />
  </div>
</body>

<style lang="scss">
  @use '../styles/mixin' as mixin;
  @use '../styles/variables' as vars;
  .baseLayout {
    background: #f3f4f6;
    width: 100%;
    height: 100vh;
    @include mixin.dark() {
      color: #fff;
    }

    &__inner {
      display: flex;
      gap: 40px;
      max-width: vars.$contentMaxWidth;
      margin: 0 auto;
      height: calc(100% - #{vars.$headerHeight} - #{vars.$footerHeight});
    }

    &__main {
      padding: 60px;
    }
  }
</style>
