---
import React from 'react'
import {
  FacebookIcon,
  FacebookShareButton,
  TwitterIcon,
  TwitterShareButton,
} from 'react-share'

import { SITE_URL } from '../config'

type Props = {
  title: string
  slug: string
}
const { title, slug } = Astro.props
const iconSize = '42'
const url = `${SITE_URL}/${slug}`
---

<div>
  <TwitterShareButton url={url} title={title}>
    <TwitterIcon round size={iconSize} />
  </TwitterShareButton>
</div>
<div class="mt-3">
  <FacebookShareButton url={url} quote={title}>
    <FacebookIcon round size={iconSize} />
  </FacebookShareButton>
</div>
