---
import type { PaginatedPost } from '../../types'
import SocialButtons from './SocialButtons.astro'
import PostDetail from './Content.astro'
import Pagination from '../../features/postDetail/Pagination.astro'
import TocSp from '../../components/elements/TocSp.astro'

type Props = {
  post: PaginatedPost
}
const { post } = Astro.props
---

<div class="postDetailLayout">
  <div class="postDetailLayout__socialButton">
    <SocialButtons title={post.entry.data.title} slug={post.entry.slug} />
  </div>
  <div class="postDetailLayout__tocSp">
    <TocSp />
  </div>
  <div class="postDetailLayout__inner">
    <PostDetail post={post}>
      <slot />
    </PostDetail>
    <Pagination next={post.next} prev={post.prev} />
  </div>
</div>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;
  .postDetailLayout {
    display: flex;
    width: 100%;
    gap: 40px;
    position: relative;
    padding-top: 40px;

    @include utils.mq(sp) {
      flex-direction: column;
      gap: 0;
      padding-top: 0;
    }

    &__socialButton {
      display: none;

      @include utils.mq(pc) {
        display: block;
        position: sticky;
        top: 100px;
        margin-left: -80px;
        height: 100vh;
      }
    }
    &__tocSp {
      position: sticky;
      top: -1px;
      z-index: 100;
      padding: 10px 0;
      border-top: 1px solid vars.$black-700;
      border-bottom: 1px solid vars.$black-700;
      background: #fff;
      font-size: 14px;
      @include utils.mq(tab) {
        display: none;
      }
      @include utils.dark() {
        border-color: vars.$bg-color-dark-tertiary;
        background: vars.$bg-color-dark-primary;
      }
    }
    &__inner {
      width: 100%;
    }
  }
</style>
