---
import dayjs from 'dayjs'
import React from 'react'

import type { PaginatedPost } from '../../types'
import type { AstroComponentFactory } from 'astro/dist/runtime/server'
import SocialButtons from './SocialButtons.astro'
import PostDetail from './Content.astro'
import Pagination from '../../features/postDetail/Pagination.astro'

type Props = {
  post: PaginatedPost
}
const { post } = Astro.props
---

<div class="postDetailLayout">
  <div class="postDetailLayout__socialButton">
    <SocialButtons title={post.entry.data.title} slug={post.entry.slug} />
  </div>
  <div class="postDetailLayout__inner">
    <PostDetail post={post}>
      <slot />
    </PostDetail>
    <Pagination next={post.next} prev={post.prev} />
  </div>
</div>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;
  .postDetailLayout {
    display: flex;
    width: 100%;
    gap: 40px;
    position: relative;
    padding-top: 40px;

    &__inner {
      width: 100%;
    }

    &__socialButton {
      position: sticky;
      top: 100px;
      margin-left: -80px;
      height: 100vh;
    }
  }
</style>
