---
import { SITE_URL } from '../../config'

type Props = {
  title: string
  slug: string
}
const { title, slug } = Astro.props

const url = encodeURI(`${SITE_URL}/${slug}`)
const twitterLink = `https://twitter.com/share?url=${url}&text=${title}`
---

<div class="socialButtons">
  <a
    class="socialButtons__item"
    href={twitterLink}
    rel="nofollow noreferrer"
    target="_blank"
  >
    <img
      src="/img/twitter-circle.png"
      alt="Twitterシェアボタン"
      width="40"
      height="40"
    />
  </a>
</div>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;
  .socialButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
      @include utils.scale(1.2);
    }
  }
</style>
