---
import React from 'react'
import {
  FacebookIcon,
  FacebookShareButton,
  TwitterIcon,
  TwitterShareButton,
} from 'react-share'

import { SITE_URL } from '../../config'

type Props = {
  title: string
  slug: string
}
const { title, slug } = Astro.props
const iconSize = '42'
const url = `${SITE_URL}/${slug}`
---

<div class="socialButtons">
  <div class="socialButtons__item">
    <TwitterShareButton url={url} title={title}>
      <TwitterIcon round size={iconSize} />
    </TwitterShareButton>
  </div>
  <div class="socialButtons__item">
    <FacebookShareButton url={url} quote={title}>
      <FacebookIcon round size={iconSize} />
    </FacebookShareButton>
  </div>
</div>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;
  .socialButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
      @include utils.scale(1.2);
    }
  }
</style>
